<?xml version="1.0" ?>
<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find robotis_op2_description)/urdf/robotis_op2.urdf.xacro'" />

  <!-- send fake joint values -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
    <rosparam param="/source_list">[/robot_joint_states]</rosparam>
  </node> -->

  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <rosparam param="/source_list">[/robot_joint_states]</rosparam>
    <remap from="/joint_states" to="/robotis_op2/joint_states" />
  </node> -->


  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <remap from="/joint_states" to="/robotis_op2/joint_states" />
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotis_op2_description)/rviz/op.rviz"/>

</launch>
